html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'ALS Hauss', 'ALS Gorizont Expanded 2.1', sans-serif;
  font-weight: 400;
  background-color: #ffffff;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  margin: 0;
  padding: 0;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
}

.react-calendar-timeline .rct-dateHeader {
  color: black !important;
  background-color: var(--color-white) !important; // поменять
}

/* .react-calendar-timeline .custom-sidebar-header {
  background: var(--color-white);
} */

/* .react-calendar-timeline .rct-sidebar {
  background: var(--color-white);
} */

.react-calendar-timeline .rct-outer {
  background: var(--color-white);
}

.react-calendar-timeline .rct-sidebar .rct-sidebar-row {
  padding: 0 !important;
}

.react-calendar-timeline .rct-item {
  height: 40px !important;
  line-height: 40px !important;
  color: #131313 !important;
  font-weight: 400 !important;
  font-size: 16px !important;
}

// .react-calendar-timeline .rct-scroll
