:root {
  --color-primary: #036bfd;
  --color-secondary: #daeaff;
  --color-bg: #edf6fa;
  --color-light-blue: #f2fbff;
  --color-text: #131313;
  --color-text-gray: #858585;
  --color-white: #ffffff;
  --color-green: #00c974;
  --color-warning: #ff2e00;
  --color-violet: #7043f3;
}
